<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BO22EB16.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
	<!--Alternative way to store SQLdatabase connection settings-->
	<connectionStrings>
  <add name="BO22EB16.Properties.Settings.bo22eb16ConnectionString"
   connectionString="Server=YOUR_SERVER_HERE,YOUR_PORT_HERE;Initial Catalog=YOUR_CATALOG_HERE;Persist Security Info=False;User ID=YOUR_USERID_HERE;Password=YOUR_PASSWORD_HERE;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
   providerName="System.Data.SqlClient" />
  <add name="BO22EB16.Properties.Settings.bo22eb16ConnectionString"
   connectionString="Server=YOUR_SERVER_HERE,YOUR_PORT_HERE;Initial Catalog=YOUR_CATALOG_HERE;Persist Security Info=False;User ID=YOUR_USERID_HERE;Password=YOUR_PASSWORD_HERE;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<!--End of: Alternative way to store SQLdatabase connection settings-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.115.0" newVersion="1.0.115.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <BO22EB16.Properties.Settings>
      <setting name="PassordEpostVerifisering" serializeAs="String">
        <value>YOUR_EMAIL_ADDRESS_PASSWORD_FOR_VERIFICATION_HERE</value>
      </setting>
      <setting name="EpostVerifisering" serializeAs="String">
        <value>YOUR_EMAIL_ADDRESS_FOR_VERIFICATION_HERE</value>
      </setting>
      <setting name="EmailTypeVerifisering" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="GuestAccountEmail" serializeAs="String">
        <value>YOUR_APP_DEMO_LOGGIN_EMAIL_HERE</value>
      </setting>
      <setting name="GuestAccountPassword" serializeAs="String">
        <value>YOUR_APP_DEMO_LOGGIN_PASSWORD_HERE</value>
      </setting>
      <setting name="GoogleMapApiKey" serializeAs="String">
        <value>YOUR_GOOGLE_CLOUD_API_KEY_HERE</value>
      </setting>
    </BO22EB16.Properties.Settings>
  </applicationSettings>
</configuration>